$color_AlphaGrey: rgba(0, 0, 0, 0.1);

html {
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (min-width: 80rem) {
  .root {
    flex-direction: row;
  }
}

.graphic {
  flex: 0 0 auto;
  margin: 0 auto;
  padding: 0.5rem;
  width: 100%;
  max-width: 57.5rem;
}

@media (min-width: 90rem) {
  .graphic {
    padding-right: 0;
  }
}

.controls {
  flex: 1 1 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
  width: 100%;
  max-width: 57.5rem;
  font-family: ABCSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@media (min-width: 80rem) {
  .controls {
    margin: 0 auto 0 0;
    max-width: 28.75rem;
    max-height: 100vh;
    overflow-y: auto;
  }
}

.controls > label,
.controls summary {
  display: table;
  width: 100%;
}

.controls > label {
  margin: 1rem 0 0.5rem;
  border-top: 0.0625rem solid $color_AlphaGrey;
  padding: 0.75rem 0 0 0;
  font-size: 1.125rem;
}

@media (min-width: 80rem) {
  .controls > label:first-child {
    margin: 0 0 0.5rem;
    border: none;
    padding: 0;
  }
}

.controls label small {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.controls summary,
.controls ul {
  margin: 0.25rem 0;
  line-height: 1.75;
}

.controls ul {
  padding: 0 0 0 1.25rem;
}

.controls ul:empty::before {
  content: 'None';
}

.controls > label button,
.controls summary button,
.controls li button {
  float: right;
  margin: 0;
  border: 0;
  padding: 0.25rem;
  background: none;
  font-size: 0.75rem;
  font-family: inherit;
  cursor: pointer;
}

.controls > label button:hover,
.controls summary button:hover,
.controls li button:hover {
  background: $color_AlphaGrey;
}

.controls > label::after,
.controls summary::after,
.controls li::after {
  clear: both;
}

.controls pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRow > div {
  width: 50%;
}

.flexRow > span {
  padding: 0 1em 0 0;
}

.flexRow button {
  align-self: stretch;
  margin: 0;
  border: 0.0625rem solid currentColor;
  padding: 0.25rem 0.5rem;
  background: transparent;
  font-family: inherit;
  font-size: 0.875rem;
  cursor: pointer;
}

.flexRow button + button {
  margin-left: 0.25rem;
}

.flexRow button:hover {
  background-color: $color_AlphaGrey;
}
