@import '../../constants.scss';

$heightBar: 1.5rem;
$heightBigBar: 2rem;

.root {
  overflow: hidden;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
}

@media (min-width: 668px) {
  .root {
    font-size: 0.9375rem;
  }
}

.text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.side[data-allocation='#{$Allocation_GOP}'] {
  color: $color_GOP;
}

.side[data-allocation='#{$Allocation_Dem}'] {
  color: $color_Dem;
}

.value {
  font-size: 275%;
  font-weight: bold;
}

.label {
  margin: 0 0.25rem;
}

.track {
  position: relative;
  margin: 0 auto $heightBar / 4 auto;
  width: 100%;
  height: $heightBar;
}

@media (min-width: 668px) {
  .track {
    margin: 0 auto $heightBigBar / 4 auto;
    height: $heightBigBar;
  }
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color_Tossup;
  transition: transform $transitionDuration;
}

.bar[data-allocation='#{$Allocation_GOP}'] {
  background-color: $color_GOP;
}

.bar[data-allocation='#{$Allocation_Dem}'] {
  background-color: $color_Dem;
}

.bar[data-allocation='#{$Allocation_LikelyGOP}'] {
  border-right: 0.0625rem solid $color_GOP;
  background-color: $color_LikelyGOP;
}

.bar[data-allocation='#{$Allocation_LikelyDem}'] {
  border-left: 0.0625rem solid $color_Dem;
  background-color: $color_LikelyDem;
}

.midpoint {
  position: absolute;
  bottom: $heightBar / -4;
  left: calc(50% - 0.03125rem);
  border-left: 0.0625rem dashed currentColor;
  width: 0;
  height: calc(100% + #{$heightBar / 2});
}

@media (min-width: 668px) {
  .midpoint {
    bottom: $heightBigBar / -4;
    height: calc(100% + #{$heightBigBar / 2});
  }
}

.midpoint ~ .midpoint {
  bottom: 0;
  height: 100%;
}

.midpointLabel {
  transform: translate(-50%, 0);
  position: absolute;
  bottom: 100%;
  left: 0;
  white-space: nowrap;
}
