@import '../../constants.scss';

$heightBar: 2.5rem;

.root {
  position: relative;
  padding: 2.5rem 0 $heightBar / 2;
}

.track {
  position: relative;
  margin: 0 auto;
  width: calc(100% - #{$heightBar * 3.5});
  height: $heightBar;
  background-color: $colorTossup;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.25s;
}

.bar[data-allocation='r'],
.bar[data-allocation='e'] {
  transform-origin: 0 0;
}

.bar[data-allocation='d'],
.bar[data-allocation='s'] {
  transform-origin: 100% 0;
}

.bar[data-allocation='r'] {
  background-color: $colorGOP;
}

.bar[data-allocation='d'] {
  background-color: $colorDem;
}

.bar[data-allocation='e'] {
  background-color: $colorLikelyGOP;
}

.bar[data-allocation='s'] {
  background-color: $colorLikelyDem;
}

.win {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  border-left: 1px dashed currentColor;
  width: 1px;
  height: calc(100% + 1rem);
}

.winLabel {
  transform: translate(-50%, -1rem);
  position: absolute;
  top: -0.5rem;
  left: 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.icon {
  position: absolute;
  top: $heightBar * -0.5;
  border: 0.125rem solid #fff;
  border-radius: 50%;
  width: $heightBar * 2;
  height: $heightBar * 2;
  background-size: 160%;
  background-position: 50% 33%;
}

.icon[data-allocation='r'] {
  left: $heightBar * -1.75;
  background-color: rgb(2112, 45, 51);
  background-image: url(gop.svg);
}

.icon[data-allocation='d'] {
  right: $heightBar * -1.75;
  background-color: rgb(16, 58, 135);
  background-image: url(dem.svg);
}
