@import '../../constants.scss';

// TappableLayer enum
$TappableLayer_Delegates: 0;
$TappableLayer_States: 1;

// Focus management
$opacityUnfocused: 0.125;
$focusChangeTransitionDuration: 0.25s;

.root {
  position: relative;
}

.svg {
  margin: auto;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.countryOuter {
  transition: opacity $focusChangeTransitionDuration;
}

.root[data-has-focuses] .countryOuter {
  opacity: $opacityUnfocused;
}

.countryOuter path {
  stroke: #000;
  stroke-width: 5.5;
  fill: none;
}

.countryInner path {
  stroke: none;
  fill: $color_BG;
}

.delegates {
  pointer-events: none;
}

.root[data-tappable='#{$TappableLayer_Delegates}'] .delegates {
  pointer-events: all;
}

.delegate {
  stroke: none;
  fill: $color_None;
  // transition: fill $transitionDuration;
  transition: opacity $focusChangeTransitionDuration;
}

.root[data-has-focuses] .delegate[data-focus='#{$Focus_No}'] {
  opacity: $opacityUnfocused;
}

// .delegate[data-allocation='#{$Allocation_Dem}'],
// .delegate[data-allocation='#{$Allocation_GOP}'] {
//   stroke: rgba(255, 255, 255, 0.125);
//   stroke-width: 1.5;
// }

.delegate[data-allocation='#{$Allocation_Dem}'] {
  fill: $color_Dem;
}

.delegate[data-allocation='#{$Allocation_LikelyDem}'] {
  fill: $color_LikelyDem;
}

.delegate[data-allocation='#{$Allocation_Tossup}'] {
  fill: $color_Tossup;
}

.delegate[data-allocation='#{$Allocation_LikelyGOP}'] {
  fill: $color_LikelyGOP;
}

.delegate[data-allocation='#{$Allocation_GOP}'] {
  fill: $color_GOP;
}

.root[data-is-interactive][data-tappable='#{$TappableLayer_Delegates}'] .delegate {
  cursor: pointer;
}

.states {
  pointer-events: none;
}

.root[data-tappable='#{$TappableLayer_States}'] .states {
  pointer-events: all;
}

.state {
  transition: opacity $focusChangeTransitionDuration;
}

.root[data-has-focuses] .state[data-focus='#{$Focus_No}'] {
  opacity: $opacityUnfocused * 2;
}

.stateTarget {
  stroke: none;
  fill: none;
}

.root[data-is-interactive][data-tappable='#{$TappableLayer_States}'] .stateTarget {
  cursor: pointer;
}

.stateFocus {
  stroke: rgba(128, 128, 128, 0.25);
  fill: none;
  stroke-width: 1.5;
  transition: stroke $focusChangeTransitionDuration, stroke-width $focusChangeTransitionDuration;
}

.stateFocus[data-focus='#{$Focus_Yes}'],
.stateFocus[data-focus='#{$Focus_Dem}'],
.stateFocus[data-focus='#{$Focus_GOP}'] {
  stroke-width: 5.5;
}

.stateFocus[data-focus='#{$Focus_Yes}'] {
  stroke: #000;
}

.stateFocus[data-focus='#{$Focus_Dem}'] {
  stroke: rgb(52, 127, 178);
}

.stateFocus[data-focus='#{$Focus_GOP}'] {
  stroke: rgb(191, 22, 34);
}

.stateFocus[data-has-allocation] {
  stroke-width: 2.5;
  stroke: $color_BG;
}

.stateFocus[data-focus='#{$Focus_Yes}'][data-has-allocation],
.stateFocus[data-focus='#{$Focus_Dem}'][data-has-allocation],
.stateFocus[data-focus='#{$Focus_GOP}'][data-has-allocation] {
  stroke-width: 0;
  stroke: none;
}

.labels {
  pointer-events: none;
}

.label {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 1rem;
  fill: $color_Text;
  stroke: none;
  transition: opacity $focusChangeTransitionDuration, fill $focusChangeTransitionDuration;
}

.label[data-most-definitively-allocated] {
  fill: $color_BG;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.root[data-has-focuses] .label[data-focus='#{$Focus_No}'] {
  opacity: $opacityUnfocused;
  fill: $color_Text;
  text-shadow: none;
}
