.root {
  margin: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.svg {
  margin: auto;
  width: 100%;
  // max-width: 1038px;
  height: auto;
  color: gray;
  fill: transparent;
}

.shoreline polygon {
  stroke: #000;
  stroke-width: 5.5;
  fill: none;
}

.landmass polygon {
  stroke: none;
  fill: #fff;
}

.delegates {
  pointer-events: none;
}

/* TappableLayer.Delegates */
.root[data-tappable='0'] .delegates {
  pointer-events: all;
}

.delegate {
  stroke: none;
  fill: #fff;
  stroke-width: 1.5;
  // transition: fill 0.5s;
}

.delegate[data-allocation='d'],
.delegate[data-allocation='r'] {
  stroke: rgba(255, 255, 255, 0.25);
}

.delegate[data-allocation='d'] {
  // fill: rgba(20, 103, 204, 0.8);
  fill: rgb(56, 127, 175);
}

.delegate[data-allocation='r'] {
  fill: rgb(189, 26, 40);
}

.isInteractive[data-tappable='0'] .delegate {
  cursor: pointer;
}

.states {
  pointer-events: none;
}

/* TappableLayer.States */
.root[data-tappable='1'] .states {
  pointer-events: all;
}

.stateTarget {
  stroke: none;
  fill: none;
}

.isInteractive[data-tappable='1'] .stateTarget:not([data-has-allocation]) {
  cursor: pointer;
}

.stateWall {
  stroke: rgba(128, 128, 128, 0.25);
  fill: none;
  stroke-width: 1.5;
  // transition: stroke 0.5s, stroke-width 0.5s;
}

.stateWall[data-wall='y'],
.stateWall[data-wall='d'],
.stateWall[data-wall='r'] {
  stroke-width: 5.5;
}

.stateWall[data-wall='y'] {
  stroke: #000;
}

.stateWall[data-wall='d'] {
  stroke: rgb(56, 127, 175);
}

.stateWall[data-wall='r'] {
  stroke: rgb(189, 26, 40);
}

.stateWall[data-has-allocation],
.stateWall[data-has-allocation] {
  stroke-width: 2.5;
  stroke: #fff;
}

.labels {
  pointer-events: none;
}

.label {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  fill: #fff;
  stroke: none;
}

.label[data-state-allocation='n'] {
  fill: #000;
  text-shadow: none;
}
