@import '../../constants.scss';

.root {
  padding: 0 1rem;
  margin: 0 auto 2rem;
  max-width: 59.5rem;

  @media (min-width: 668px) {
    padding: 0;
    max-width: 57.5rem;
  }
}

.graphic {
  [data-focus='#{$Focus_No}'] * {
    cursor: default !important;
  }
}
