@import '../../constants.scss';

.root {
  position: relative;
  padding: 0 1rem;
  margin: 0 auto 2rem;
  max-width: 59.5rem;

  @media (min-width: 668px) {
    padding: 0;
    max-width: 57.5rem;
  }
}

.graphic {
  [data-focus='#{$Focus_No}'] * {
    cursor: default !important;
  }
}

@keyframes hintMove {
  from {
    transform: none;
  }
  to {
    transform: rotate(-15deg) translate(0, -50%);
  }
}

.hint {
  position: absolute;
  top: calc(4rem + 60%);
  right: 15%;
  animation: hintMove 1s ease-out 0.25s infinite alternate;
  transition: opacity 0.5s;
  pointer-events: none;

  .root[data-has-interacted] & {
    opacity: 0;
  }
}
