.root {
  margin: 0.5rem auto 0;
  width: 60%;
  max-width: 18rem;
}

@media (min-width: 61.25rem) {
  .root {
    margin: 1rem auto -1rem;
  }
}

.graphic {
  border-radius: 50%;
  padding-bottom: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
