// Allocation enum
$Allocation_None: 'n';
$Allocation_Dem: 'd';
$Allocation_LikelyDem: 's';
$Allocation_Tossup: 'u';
$Allocation_LikelyGOP: 'e';
$Allocation_GOP: 'r';

// Focus enum
$Focus_No: 'n';
$Focus_Yes: 'y';
$Focus_Dem: 'd';
$Focus_GOP: 'r';

// Theming
$color_Text: #000;
$color_BG: #fff;
$color_None: $color_BG;
$color_Dem: #006dbd;
$color_LikelyDem: #bdd4ef;
$color_Tossup: #ccc;
$color_LikelyGOP: #eaaeae;
$color_GOP: #c21718;

$transitionDuration: 0.75s;
