@import '../../constants.scss';

.root {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  background-color: $color_BG;
  font-family: ABCSans, system-ui, sans-serif;
}

[data-mount][id^='ecgraphic'] > .root {
  border: 0.0625rem solid #ccc;
  padding: 0.5rem;
}

@media (min-width: 668px) {
  [data-mount][id^='ecgraphic'] > .root {
    padding: 1rem;
  }
}

.root > header {
  margin-bottom: 1rem;
}
