@import '../../constants.scss';

.root {
  position: relative;
  margin-left: -2.375rem;
  margin-right: -2.375rem;
  padding: 1rem 1.25rem;
  background-color: #ebebeb;
  font-size: 0.75rem;

  /* Scrollyteller panel layout matching (large-first responsive) */

  @media only screen and (max-width: 1022px) {
    font-size: 0.6875rem;
  }

  @media only screen and (max-width: 667px) {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding: 0.625rem 0.75rem;
  }

  @media only screen and (min-width: 100rem) and (max-width: 120rem) {
    font-size: 0.6875rem;
  }

  :first-child > & {
    margin-top: -2.25rem;

    @media only screen and (max-width: 667px) {
      margin-top: -1.5rem;
    }
  }

  :last-child > & {
    margin-bottom: -2.25rem;

    @media only screen and (max-width: 667px) {
      margin-bottom: -1.5rem;
    }
  }

  &[data-test]::before {
    content: 'TEST ' attr(data-test);
    position: absolute;
    top: -0.625rem;
    right: -0.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: goldenrod;
    font-family: ABCSans;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.flex > :not(.title) {
  font-family: ABCSans;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.flex > :first-child {
  padding-right: 0.5rem;
}

.flex > :last-child {
  @media only screen and (min-width: 1023px) {
    margin-left: auto;
    align-self: flex-start;
  }
}

.title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.25;

  @media only screen and (max-width: 1022px) {
    font-size: 1.125rem;
  }

  @media only screen and (min-width: 100rem) and (max-width: 120rem) {
    font-size: 1.125rem;
  }
}

.result {
  display: inline-block;
}

.result + .result {
  margin-left: 0.5em;
}

.result::before {
  content: '';
  vertical-align: middle;
  margin-right: 0.25em;
  width: 1em;
  height: 1em;
  background-color: $color_Black;
  display: inline-block;
}

.result[data-allocation='#{$Allocation_Dem}']::before {
  background-color: $color_Dem;
}

.result[data-allocation='#{$Allocation_GOP}']::before {
  background-color: $color_GOP;
}

.name {
  margin-right: 0.25em;
}
